// /////////////////////////////////////////////////////
// ///////////////// PRIMARY HOVER EFFEC ////////////////////////////////////
// /////////////////////////////////////////////////////

@mixin primary-link-effect($text, $bg, $x: 1rem) {
  display: inline-block;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $bg 50%
  );
  background-size: 250%;
  @include transition-hover;
  backface-visibility: hidden;

  &:hover {
    color: $text;
    background-position: 100%;
    transform: translateX($x);
  }
}

// /////////////////////////////////////////////////////
// ///////////////// CENTER WITH FLEXBOX ////////////////////////////////////
// /////////////////////////////////////////////////////
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// /////////////////////////////////////////////////////
// ///////////////// CENTER WITH ABSOLUTE POSITIONING ////////////////////////////////////
// /////////////////////////////////////////////////////
@mixin absolute-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// /////////////////////////////////////////////////////
// ///////////////// HOVER TRANSITIONS ////////////////////////////////////
// /////////////////////////////////////////////////////
@mixin transition-hover {
  transition: all 0.4s;
}

// /////////////////////////////////////////////////////
// ///////////////// HOVER TRANSITIONS ////////////////////////////////////
// /////////////////////////////////////////////////////
@mixin transition-section {
  transition: all 0.6s;
}
