@use "./colors.scss" as *;
@use "./breakpoints.scss" as *;

html {
  font-size: 62.5%; //10/16 = 62.5%  1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (max-width: $xsm) {
    font-size: 50%; //10/16 = 62.5%  1rem = 10px
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
