$bg-color: #121212;
$dull-dark: rgba(255, 255, 255, 0.6);
$dull-dark-2: rgba(255, 255, 255, 0.08);
$color-primary: #8c8c8c;
$color-secondary: #2f89fc;
$color-light: #fff;
$html: #e34f26;
$css: #1572b6;
$JS: #f7df1e;
$sass: #cc6699;
$git: #fb4f28;
$bootstrap: #7952b3;
$tailwind: #38bdf8;
$gulp: #cf4647;

// /////////////////////////////////////////////////////
// ///////////////// TRANSITIONS ////////////////////////////////////
// /////////////////////////////////////////////////////
$extra-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$slow-start-transition: cubic-bezier(0.86, 0, 0.07, 1);
